<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="30083ThreeMonkeys.advantage" Publisher="CN=C4C0040B-A2EC-4FF0-8D9C-988A938E61AF" Version="2.3.1.0" />
  <mp:PhoneIdentity PhoneProductId="b7c4a8f8-01c0-400b-952a-58fd8d3674f4" PhonePublisherId="dfc27af5-825d-427e-8003-9d7c74119f4f" />
  <Properties>
    <DisplayName>Gizmo</DisplayName>
    <PublisherDisplayName>Three Monkeys</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>Utilities</Description>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Utilities.App">
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="calc">
            <uap:DisplayName>Calculator</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="text">
            <uap:DisplayName>TXT File</uap:DisplayName>
            <uap:Logo>Assets\GridViewTiles\Snapped\Notepad.png</uap:Logo>
            <uap:InfoTip>Launch with Gizmo</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.txt</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.search" />
        <uap:Extension Category="windows.shareTarget">
          <uap:ShareTarget>
            <uap:DataFormat>Text</uap:DataFormat>
          </uap:ShareTarget>
        </uap:Extension>
      </Extensions>
      <uap:VisualElements DisplayName="Gizmo" Description="A suite of gizmos" BackgroundColor="#ffffff" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\WideLogo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="portraitFlipped" />
          <uap:Rotation Preference="landscapeFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>